---
---

body{
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p, .post-title{
  font-family: 'Roboto', sans-serif;
}

a{
  color: rgb(74, 74, 74);
  text-decoration: none;
}

a:hover{
  color: rgb(150, 150, 150);
  text-decoration: none;
  cursor: pointer;
}

code{
  padding: 0.5em;
  background-color: rgb(150, 150, 150);
  color: black;
}

#phatwrap{
  display: none;
}

#withlove{
  color: rgb(150, 150, 150);
  font-family: 'Raleway', sans-serif;
}
