html{
  background: url(mario.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: black;
}
h1, h3, p{
  color: white;
}
