---
---

/* TODO:
 * Fix mobile
 * Finalize font stack
 * Write things
 */

:root {
  --bgc: #fdfdfd;
  --fgc: #0f0f0f;
  --cmc: #606060;
  --codebg: #e0e0e0;
}

body {
  word-wrap: break-word;
  margin: 0;
  background: var(--bgc);
  color: var(--fgc);
  font-family: 'Lora', sans-serif;
  font-size: 1.25em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

.content {
  width: 40vw;
  margin: 0 auto;
  padding: 2%;
}

code {
  padding: 2%;
  background: var(--codebg);
  font-family: 'Roboto Mono', monospace;
  font-size: .75em;
}

blockquote {
  font-size: 1.5em;
  color: var(--cmc);
  margin: 0;
  padding: .1% 0 .1% 5%;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: var(--cmc);
}

img {
  max-width: 100%;
}

a, a:visited, a:active, a:link {
  color: var(--fgc);
  text-decoration: none;
  border-bottom: 1px dotted var(--fgc);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  transition: color .4s cubic-bezier(.52,.8,.54,.26);
}

a:hover {
  color: var(--cmc);
}

.posttitle {
  margin: 4% 0;
}

.postdate {
  display: inline-block;
  margin: 0;
  font-size: 1.2em;
}

#signoff {
  position: absolute;
  top: 2.5vh;
  left: 2.5vh;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.3em;
}

@media only screen and (max-width:1000px) {
  body {
    font-size: 1.15em;
  }

  .content {
    width: 90%;
    padding: 5%;
  }

  #signoff {
    font-size: 1em;
  }
}