@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'http://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css';

body {
  font-family: 'Raleway', sans-serif;
  word-wrap: break-word;
  margin-left: 2vw;
  color: white;
  background: #16222A;
  background: -webkit-linear-gradient(to left, #16222A , #3A6073);
  background: linear-gradient(to left, #16222A , #3A6073);
  overflow: auto;
}

a, a:link, a:visited {
  text-decoration: none;
  border-bottom: 1px dotted white;
  color: white;
  cursor: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

code {
  font-family: Hack, monospace;
  font-weight: lighter;
  display: block;
  padding: 5px;
  color: white;
  background-color: rgba(0,0,0,0.3);
}

img {
  background-color: rgba(0,0,0,0.3);
}

.postcontent {
  margin-right: 50vw;
}
