<!DOCTYPE html>
<html>
<head>
  <meta name="title" content="Leo's Blog">
  <meta name="description" content="A small blog about culture, code, and language.">
  <meta name="author" content="Leo Krashanoff">
  <title>Leo's Blog</title>
  <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
</head>

<body>
  <div id="signoff">
    <a id="name" href="https://github.com/krashanoff">Leo Krashanoff</a>
  </div>
  
  <div class="content">
    {{ content }}
  </div>
  
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/main.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Lora', 'Roboto Mono']
      }
    });
    WebFontConfig = {
      classes: false
    };
  </script>
</body>
</html>
